* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/* ======== Start Variables ========*/
:root {
  /* === Colors === */
  --clr-red-main: #ce1212;
  --clr-black-main: #212529;
  --clr-sec-txt: #37373f;
  --clr-section: #eee;
  /* === Fonts === */
  --font-main: "Open Sans", sans-serif;
  --font-title: "Amatic SC", cursive;
  --font-heading: "Inter", sans-serif;
  /* === Transition === */
  --transition-duration-main: 350ms;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  direction: rtl;
  font-family: "Poppins", sans-serif;
}




.navbar-collapse,
.navbar-nav {
  width: fit-content;
}


.navbar-nav>li>a:hover {
  color: var(--clr-black-main);

}

.navbar-nav>li>a::before {
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 8px;
  left: 16px;
  background-color: var(--clr-red-main);
  transition: width var(--transition-duration-main);
}

.navbar-nav>li>a:hover::before {
  width: calc(100% - 32px);
}

.nav-item a {
  font-size: 16px;
}

/* ====== Start Header ====== */
header {
  background-image: url(images/biology-1300535_1280.png);
  background-size: cover;
  background-position: center center;
  background-repeat:no-repeat;

}
.w-40{
  width: 40%;
  margin-top: 9%;
}
.w-60{
  width: 60%;
}

header .overlay {
  background-color: hsla(0, 2%, 52%, 0.55);

  color: var(--clr-sec-txt);
}

header .overlay h1 {
  font-size: clamp(3rem, 4.7vw, 4.5rem);
}

header .overlay p {
  font-size: clamp(1.5rem, 2.75vw, 3rem);
  color:#e96a81;
  text-shadow: 2px 2px 4px #000000;
}

header .overlay p::before {
  content: "";
  animation: typing 15s infinite;
}


.fa-chevron-down {
  font-size: 1.25rem;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  animation: arrow-movement 1s infinite ease-out;
}


@keyframes arrow-movement {
  0% {
    bottom: 3.75rem;
  }

  100% {
    bottom: 1.25rem;
  }
}


.btn-raduis{
  border-top-left-radius: 80px 80px;
  transition: all .7s ease-in;
}
.btn-raduis:hover{
  border-bottom-right-radius: 80px 80px;
  border-top-left-radius: 0px 0px;
  background-color: transparent;
  border-color: black;
  color:#000000;
}

/* ====== End Header ====== */

footer {
  color: white;
  background-color: #343a40;
  margin-top: 200px;
}




i {
  color: white;
  font-size: 18px;
  transition: color 1s;

}

i:hover {


  color: brown;
}

.fa-brands,
.fab {
  font-weight: 400;
}





*footer*/ footer {
  background-image: url(images/dotted-map.png);
  background-size: contain;
  font-family: Poppins, sans-serif;
}

footer h5 {

  Font-size: 20px;
  Font-weight: 600;
  Line-height: 20px;
  color: rgb(255, 255, 255);
}

.spacial {
  Line-height: 24.5px;
}

footer p {
  Font-size: 14px;
  Font-weight: 400;
  line-height: 20px;
  color: rgb(176, 176, 176);
  transition: all .3s;

}

footer p:hover,
footer span:hover {
  color: rgb(242, 84, 84);
}

footer span {
  display: inline-block;
  padding: 2px 10px;
  border-radius: 3px;
  border: 1px solid #b0b0b0;
  color: #b0b0b0;
  font-size: 13px;
  margin: 8px 0px;
  transition: all .3s;

}

footer span:hover {
  border: 1px solid rgb(242, 84, 84);
}

.social-footer i {
  margin: 0 10px;
  font-size: 16px;

  color: #fff;



  transition: all 0.3s;
}

.social-footer i:hover,
.copy a:hover {
  color: rgb(242, 84, 84);
}

.copy {

  Font-size: 14px;
  Font-weight: 400;
  Line-height: 16px;
  color: rgb(176, 176, 176);

}

.copy a {
  color: #fff;

  font-weight: 600;

  transition: all 0.3s;
  text-decoration: none;


}


/*anmiation*/
@keyframes typing {
  0% {
    content: 'أ';
  }

  7% {
    content: 'أ/';
  }

  14% {
    content: 'أ/ج';
  }

  21% {
    content: 'أ/جم';
  }

  28% {
    content: 'أ/جما';
  }

  35% {
    content: 'أ/جمال';
  }

  42% {
    content: 'أ/جمال ع';
  }

  49% {
    content: 'أ/جمال عب';
  }

  56% {
    content: 'أ/جمال عبد ';
  }

  63% {
    content: 'أ/جمال عبدا';
  }

  70% {
    content: 'أ/جمال عبدال';
  }

  77% {
    content: 'أ/جمال عبدالن';
  }

  84% {
    content: 'أ/جمال عبدالنا';
  }

  91% {
    content: 'أ/جمال عبدالناص';
  }

  100% {
    content: 'أ/جمال عبدالناصر';
  }





}









.pic {
  background: url(blob-haikei\ \(1\).svg);
  background-size: cover;
  background-repeat: no-repeat;
}




/*card*/

.card-body {
 width: 100%;
  top: 80%;
  left: 5%;
  background-color: #f3f4f6;
 margin: auto;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, .5);

}

.hr-card{
  margin: auto;
  height: 2px;
  width: 20%;
  background-color: #ce1212;
  animation:width-animate 2s ease infinite alternate;
  -webkit-animation:width-animate 2s ease infinite alternate;
}

@keyframes width-animate {
  0% {
    transform: scaleX(1.5);
   
}

  100% {
    transform: scaleX(0);
  }
}
.courses{
  top:50%;
  right: 5%;
  color: white;
    text-shadow: 2px 2px 4px #f0eded;
}


.clr-white {
  color: #fff;
  color: var(--color-white);
}

.home-secondary__container {
  background: linear-gradient(45deg, #9d316e, #de2d3e);
  position: relative;
}

.z-10 {
  z-index: 10;
}

#personal-image{
      display: inline-block;
        position: relative;
        right: 40%;
}


.color-h{
  Font-size: 32px;
   Font-weight: 400; 
  color: #2b2f32;
}



.cardd {

  width: 62%;
  height: 300px;
  background-color: #f1f1f1;
  margin: auto;
  position: relative;

}

.cardd-item {
  width: 20%;
  float: left;
}
.clearfix{
  clear: both;
}
.cardd-item2 {
  width: 80%;
  float: right;
  margin-top: 30px;
  padding: 0px 12px;
}

.triangle-cardd {
  width: 20%;


}

.triangle {
  width: 170px;
  height: 170px;
  clip-path: polygon(1% 0%, 0% 100%, 100% 100%);
  background-color: #ff305b;
  transform: rotate(89deg);
}

.cardd-image {
  width: 14%;
  position: absolute;
  top: 14%;
  left: 4%;



}

.cardd-image img {
  width: 100%;
  border-radius: 50%;
}

.cardd-item2 h2 {
  color: rgb(51, 51, 51);
}

.cardd-item2 h4 {
  padding: 10px 0px;
  color: rgb(119, 119, 119);

}

.cardd-item2 p {
  padding-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  color: rgb(85, 85, 85);
  Line-height: 25px;
  Font-weight: 400;
}

.fa-star,
.f {
  color: rgb(241, 195, 13)
}



/*5*/
.section5-item{
    width: 50%;
    float: right;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px 0px;

}

.section5{
    text-align: center;
    height: 100vh;
     background-color:#f8f8f8;
     overflow: hidden;
     
  
}
.section5-item h1{
    margin: 40px 0px;
}

.section5 p{
    color: rgb(104, 104, 104);
     font-family:  sans-serif;
    
}
.contact{
    margin-top: 50px;
    text-align:right;
}
.contact p{
    margin:20px 0px;
    color: #686868;
}



.bg-dark-section {
  background-color: #eee;
}