*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* === Colors === */
    --clr-red-main: #ce1212;
    --clr-black-main: #212529;
    --clr-sec-txt: #37373f;
    --clr-section: #eee;
    /* === Fonts === */
    --font-main: "Open Sans", sans-serif;
    --font-title: "Amatic SC", cursive;
    --font-heading: "Inter", sans-serif;
    /* === Transition === */
    
}
.w-30{
    width: 30%;
     margin: auto;}

/**header*/
header{
    background-image: url(../images/);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color:aliceblue;
   
}
.w-40{
    width: 40%;
}
.spacial {
    Line-height: 25px;
}
.accordion {
    width: 100%;
    margin: 90px auto;
    color: black;
    
    padding: 45px 45px;
}
.accordion h1{
    padding: 20px 0px;
}
.accordion h1 span , .unite-num {
    color:#1434A4;
}

.accordion .container {
    position: relative;
    margin: 10px 10px;
}

.accordion .label {
    position: relative;
    padding: 10px 0;
    font-size: 30px;
    color: black;
    cursor: pointer;
}

.accordion .label::before {
    content: '+';
    color: black;
    position: absolute;
    top: 50%;
    left: -5px;
    font-size: 30px;
    transform: translateY(-50%);
}

.accordion .content {
    position: relative;
    background: white;
    height: 0;
    font-size: 20px;
    text-align: justify;
    width: 780px;
    overflow: hidden;
    transition: 0.5s;
}

.accordion hr {
    width: 95%;
    margin: auto;
    border: 1px solid grey;
}

.accordion .container.active .content {
    height: 150px;
}

.accordion .container.active .label::before {
    content: '-';
    font-size: 30px;
}
     
   





         