body{
  background: linear-gradient(109.6deg, rgb(204, 228, 247) 11.2%, rgb(237, 246, 250) 100.2%);
}


#registration-form {
  max-width:1000px;
  margin: 35px auto;
}

#registration-form .image {
  float: right;
  background-image: url(../images/2\ \(2\).jpeg);
  height: 580px;
  width: 50%;
  background-size: cover;
  background-position: 25%;
}

#registration-form .frm {
  float: left;
  direction: rtl;
  text-align: right;
  height: 580px;
  width: 50%;
  min-width: 250px;
  padding: 0 35px;
  background-size: 100% 100%;
  background-color: white;
}

#registration-form h1 {
  margin-top: 30px;
  margin-bottom: 20px;
}
.form-group{
  position: relative;
    margin-bottom: 25px;
}
/**
label  {
  position: absolute;
  top: 0px;
  right: 0;
  font-size: 16px;
  color: black;
  transition: all 0.5s ease-in-out;
}
**/
 .form-control {
    width: 90%;
    padding: 10px 20px;
    height: auto;
    border: 0;
    border-bottom: 1px solid #555;
    background: transparent;
    border-radius:0 ;
   
}
.form-control:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #e74c3c;
}
/*
.input-control:focus  ~ label{
  top: -12px;
}
 
 */


@media screen and (max-width: 700px) {
  #registration-form .image {
    width: 30%;
    background-position: 60%;
  }

  #registration-form .frm {
    width: 70%;
  }

  #registration-form .form-control {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  #registration-form .image {
    display: none;
  }

  #registration-form .frm {
    width: 100%;
  }

  #registration-form h1 {
    text-align: center;
  }

  #registration-form .btn {
    width: 100%;
    margin-top: 20px;
  }
}